.navbar{
    display:flex;
    justify-content:space-between;
    width:100%;
    height:60px;
    background-color:rgb(216, 205, 154);
    padding:20px;
    position:fixed;
    top:0;
}
.nav-button{
    background-color:transparent;
    outline:none;
    border:none;
    cursor: pointer;
    font-family:cursive;
    font-size:20px;
    font-weight:bold;
    color:rgb(114, 48, 23)
}
.nav-logo{
    width:50px;
    height:50px;
}